1. Write a Python program to convert kilometers to miles?

In [1]:
kilometer=float(input("Enter the kilometers: "))
miles=kilometer*0.621371
print(f"{kilometer} kilometers is equal to {miles} miles")

Enter the kilometers: 25
25.0 kilometers is equal to 15.534275000000001 miles

2. Write a Python program to convert Celsius to Fahrenheit?

In [3]:
celcius = float(input("Enter the temperature in degree celsius: "))
fahrenheit=(celcius*9/5)+32
print(f"The {celcius} degree celcius is equal to {fahrenheit} fahrenheit")

Enter the temperature in degree celsius: 12
The 12.0 degree celcius is equal to 53.6 fahrenheit

3. Write a Python program to display calendar?

In [4]:
import calendar

year = int(input("Enter calender year: "))
print(calendar.calendar(year))

Enter calender year: 2023
                                  2023

      January                   February                   March
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
                   1             1  2  3  4  5             1  2  3  4  5
 2  3  4  5  6  7  8       6  7  8  9 10 11 12       6  7  8  9 10 11 12
 9 10 11 12 13 14 15      13 14 15 16 17 18 19      13 14 15 16 17 18 19
16 17 18 19 20 21 22      20 21 22 23 24 25 26      20 21 22 23 24 25 26
23 24 25 26 27 28 29      27 28                     27 28 29 30 31
30 31

       April                      May                       June
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
                1  2       1  2  3  4  5  6  7                1  2  3  4
 3  4  5  6  7  8  9       8  9 10 11 12 13 14       5  6  7  8  9 10 11
10 11 12 13 14 15 16      15 16 17 18 19 20 21      12 13 14 15 16 17 18
17 18 19 20 21 22 23      22 23 24 25 26 27 28      19 20 21 22 23 24 25
24 25 26 27 28 29 30      29 30 31                  26 27 28 29 30

        July                     August                  September
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
                1  2          1  2  3  4  5  6                   1  2  3
 3  4  5  6  7  8  9       7  8  9 10 11 12 13       4  5  6  7  8  9 10
10 11 12 13 14 15 16      14 15 16 17 18 19 20      11 12 13 14 15 16 17
17 18 19 20 21 22 23      21 22 23 24 25 26 27      18 19 20 21 22 23 24
24 25 26 27 28 29 30      28 29 30 31               25 26 27 28 29 30
31

      October                   November                  December
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
                   1             1  2  3  4  5                   1  2  3
 2  3  4  5  6  7  8       6  7  8  9 10 11 12       4  5  6  7  8  9 10
 9 10 11 12 13 14 15      13 14 15 16 17 18 19      11 12 13 14 15 16 17
16 17 18 19 20 21 22      20 21 22 23 24 25 26      18 19 20 21 22 23 24
23 24 25 26 27 28 29      27 28 29 30               25 26 27 28 29 30 31
30 31

4. Write a Python program to solve quadratic equation?

In [6]:
import cmath  

a = float(input('Enter a value: '))  
b = float(input('Enter b value: '))  
c = float(input('Enter c value: '))  
  
discriminant = (b**2) - (4*a*c)  
  
sol1 = (-b-cmath.sqrt(discriminant))/(2*a)  
sol2 = (-b+cmath.sqrt(discriminant))/(2*a)  
print('The solution are {0} and {1}'.format(sol1,sol2))

Enter a value: 12
Enter b value: 142
Enter c value: 235
The solution are (-9.843957222649394+0j) and (-1.9893761106839403+0j)

5. Write a Python program to swap two variables without temp variable?

In [9]:
first_number = int(input("Enrter the first number: "))
second_number = int(input("Enter the second number: "))
print("The first and second number before swapping are",first_number,"and",second_number)
first_number, second_number = second_number, first_number
print("The first and second number after swapping are",first_number,"and",second_number)

Enrter the first number: 25
Enter the second number: 12
The first and second number before swapping are 25 and 12
The first and second number after swapping are 12 and 25